$text_dark: #040D12;
$color_pink: #FF2B85;
$color_primary_100: #FDF2F7;
$color_primary_200: #FAD9E7;
$color_primary_300: #F6B2CF;
$color_primary_400: #ED66A0;
$color_primary_500: #FF2B85;
$color_primary_600: #E21B70;
$color_primary_700: #C21760;
$color_primary_800: #A11350;
$color_secondary_100: #F7C6CC;
$color_secondary_200: #F7C6CC;
$color_secondary_300: #F7C6CC;
$color_secondary_400: #F7C6CC;
$color_secondary_500: #F7C6CC;
$color_secondary_600: #F7C6CC;
$color_secondary_700: #11A46E;
$color_secondary_800: #F7C6CC;
$color_secondary_2_100: #29E6FF;
$color_secondary_2_200: #29E6FF;
$color_secondary_2_300: #29E6FF;
$color_secondary_2_400: #29E6FF;
$color_secondary_2_500: #29E6FF;
$color_secondary_2_600: #29E6FF;
$color_secondary_2_700: #29E6FF;
$color_secondary_2_800: #29E6FF;
$color_secondary_3_100: #FFF9BF;
$color_secondary_3_200: #FFF69F;
$color_secondary_3_300: #FFF380;
$color_secondary_3_400: #FFEC40;
$color_secondary_3_500: #FFE600;
$color_secondary_3_600: #DFC900;
$color_secondary_3_700: #BFAD00;
$color_secondary_3_800: #807300;
$color_footer: #000000;
$color_text: #231F20;
$color_text_inverted: #FFFFFF;
